asgiref==3.6.0
async-generator==1.10
attrs==22.2.0
beautifulsoup4==4.11.2
bs4==0.0.1
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.0.1
decorator==4.4.2
Django==4.1.5
django-modeltranslation==0.18.9
django-resized==1.0.2
exceptiongroup==1.1.0
future==0.18.3
gunicorn==20.1.0
h11==0.14.0
huepy==1.2.1
idna==3.4
imageio==2.26.0
imageio-ffmpeg==0.4.8
iniconfig==2.0.0
instabot==0.117.0
instaloader==4.9.6
mock==5.0.1
moviepy==1.0.3
numpy==1.24.2
outcome==1.2.0
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pluggy==1.0.0
proglog==0.1.10
psycopg2==2.9.5
PySocks==1.7.1
pyTelegramBotAPI==4.10.0
pytest==7.2.2
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
requests-toolbelt==0.10.1
responses==0.23.1
schedule==1.1.0
selenium==4.8.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sqlparse==0.4.3
tomli==2.0.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.9.2
types-PyYAML==6.0.12.8
typing_extensions==4.5.0
urllib3==1.26.14
wsproto==1.2.0
