<footer class="footer-area footer-area-one footer-border-round footer-bg-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-wrapper pat-100 pab-100">
            <div class="footer-contents center-text">
              <div class="footer-contents-logo">
                <a href="{% url 'index' %}" class="footer-contents-logo-img">
                  <img src="{{ setting.logo.url }}" alt="logo">
                </a>
                <h3 class="footer-contents-logo-title text-white">
                  <a href="{{ setting.title }}"> {{ setting.title }} </a>
                </h3>
                <p class="footer-contents-logo-para mt-3"> {{ setting.description }} </p>
              </div>
              <div class="footer-widget widget">
                <div class="footer-widget-social mt-4">
                  <ul class="footer-widget-social-list list-style-none justify-content-center">
                    {% if setting.telegram %}
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="{{ setting.telegram }}">
                          <i class="lab la-telegram"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if setting.instagram %}
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="{{ setting.instagram }}">
                          <i class="lab la-instagram"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if setting.whatsapp %}
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="{{ setting.whatsapp }}">
                          <i class="lab la-whatsapp"></i>
                        </a>
                      </li>
                      {% endif %}
                      {% if setting.facebook %}
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="{{ setting.facebook }}">
                          <i class="lab la-facebook-f"></i>
                        </a>
                      </li>
                      {% endif %}
                  </ul>
                </div>
              </div>
              <div class="footer-widget widget">
                <div class="footer-widget-nav mt-5">
                  <ul class="footer-widget-nav-list list-style-none">
                    <li class="footer-widget-nav-list-item">
                      <a href="{% url 'index' %}" class="footer-widget-nav-list-link"> Домой </a>
                    </li>
                    <li class="footer-widget-nav-list-item">
                      <a href="{% url 'about' %}" class="footer-widget-nav-list-link"> О нас </a>
                    </li>
                    <li class="footer-widget-nav-list-item">
                      <a href="{% url 'rooms' %}" class="footer-widget-nav-list-link"> Комнаты </a>
                    </li>
                    <li class="footer-widget-nav-list-item">
                      <a href="{% url 'contact' %}" class="footer-widget-nav-list-link"> Связаться </a>
                    </li>
                  
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area footer-padding copyright-bg-1">
      <div class="container">
        <div class="copyright-contents">
          <div class="copyright-contents-flex">
            <div class="copyright-contents-items">
              <div class="copyright-contents-single">
                <div class="copyright-contents-single-flex">
                  <div class="copyright-contents-single-icon">
                    <i class="las la-phone"></i>
                  </div>
                  <div class="copyright-contents-single-details">Есть вопросы? </span>
                    <a href="tel:{{ setting.phone }}" class="copyright-contents-single-details-link"> {{ setting.phone }} </a>
                  </div>
                </div>
              </div>
              <div class="copyright-contents-single">
                <div class="copyright-contents-single-flex">
                  <div class="copyright-contents-single-icon">
                    <i class="las la-envelope"></i>
                  </div>
                  <div class="copyright-contents-single-details">
                    <span class="copyright-contents-single-details-title"> Есть вопрос? </span>
                    <a href="{% url 'contact' %}" class="copyright-contents-single-details-link">
                      <span class="__cf_email__" data-cfemail="99ecf7ebfcf8f5d9fce1f8f4e9f5fcb7faf6f4">Свяжитесь с нами</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <span class="copyright-contents-main"> {{ setting.title }} & <a href="https://www.instagram.com/codexx_studio/"> Codex Studio </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </footer>