{% load i18n %}
<header class="header-style-01">
    <nav class="navbar navbar-area navbar-border navbar-padding navbar-expand-lg">
      <div class="container custom-container-one nav-container">
        <div class="logo-wrapper">
          <a href="{% url 'index' %}" class="logo">
            <img src="{{ setting.logo.url }}" width="100px" alt="">
          </a>
        </div>
        <div class="responsive-mobile-menu d-lg-none">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hotel_booking_menu">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="hotel_booking_menu">
          <ul class="navbar-nav">
            <li>
                <a href="{% url 'index' %}"> {% trans 'Домой' %} </a>
            </li>
            <li>
              <a href="{% url 'about' %}"> {% trans 'О нас' %} </a>
            </li>
            <li>
              <a href="{% url 'rooms' %}"> {% trans 'Комнаты' %} </a>
            </li>
            {% if news %}
            <li>
              <a href="{% url 'news_index' %}"> {% trans 'Новости' %} </a>
            </li>
            {% endif %}
            <li>
              <a href="{% url 'contact' %}"> {% trans 'Связаться' %} </a>
            </li>
            {% if user.is_authenticated and user.is_superuser %} 
            <li class="menu-item-has-children current-menu-item">
              <a href="javascript:void(0)">{{ user.username }}</a>
              <ul class="sub-menu">
                <li>
                  <a href="{% url 'admin_panel' %}">{% trans 'Админ панель' %}</a>
                </li>
                <li>
                  <a href="{% url 'logout' %}"> {% trans 'Выйти' %} </a>
                </li>
              </ul>
            </li>
            {% endif %}
            <!-- <li class="menu-item-has-children current-menu-item">
              <a href="javascript:void(0)">RU</a>
              <ul class="sub-menu">
                <li>
                  <a href="{% url 'index' %}">KGZ</a>
                </li>
                <li>
                  <a href="{% url 'index' %}"> ENG </a>
                </li>
              </ul>
            </li> -->
            <li class="menu-item-has-children current-menu-item">
              <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}">
                  <select name="language">
                      {% get_current_language as LANGUAGE_CODE %}
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                  selected{% endif %}>
                              {{ language.name_local }} ({{ language.code }})
                          </option>
                      {% endfor %}
                  </select>
                  <input class="submit-btn w-10 radius-10" type="submit" value="Перевести">
              </form>
            </li>
            {% if phone %}
            {% for phon in phone %}
            <li>
              <a href="tel:{{ phon.phone }}"> {{ phon.phone }} </a>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
        <div class="navbar-right-content show-nav-content">
          <div class="single-right-content">
            <div class="navbar-right-flex">
              <!-- <div class="navbar-right-btn">
                <a href="login.html"> Log In </a>
              </div> -->
              {% if user.is_authenticated and user.is_superuser %} 
              {% else %}
              <div class="btn-wrapper">
                <a href="{% url 'admin_login_user' %}" class="cmn-btn btn-bg-1 radius-10"> {% trans 'Войти' %} </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>