{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    {% include 'include/header.html' %}
    <div class="breadcrumb-area breadcrumb-padding">
      <div class="container custom-container-one">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-contents">
              <h4 class="breadcrumb-contents-title"> Забронировать </h4>
              <ul class="breadcrumb-contents-list list-style-none">
                <li class="breadcrumb-contents-list-item">
                  <a href="index.html" class="breadcrumb-contents-list-item-link"> Домой </a>
                </li>
                <li class="breadcrumb-contents-list-item"> Забронировать </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="Checkout-area section-bg-2 pat-100 pab-100">
      <div class="container">
        <div class="row g-6">
          <div class="col-xl-11 col-lg-7">
            <div class="checkout-wrapper">
              <div class="checkout-single bg-white radius-10">
                <h4 class="checkout-title"> Детали вашего бронирования </h4>
                <div class="checkout-contents mt-3">
                  <div class="checkout-form custom-form">
                    <form method="post">
                        {% csrf_token %}
                      <div class="input-flex-item">
                        <div class="single-input mt-4">
                          <label class="label-title"> Фамилия </label>
                          <input class="form--control" type="text" name="first_name" placeholder="Ваше фамилия">
                        </div>
                        <div class="single-input mt-4">
                          <label class="label-title"> Имя</label>
                          <input class="form--control" type="text" name="last_name" placeholder="Ваше имя">
                        </div>
                      </div>
                      <div class="input-flex-item">
                        <div class="single-input mt-4">
                            <label class="label-title"> Телефонный номер </label>
                            <input class="form--control" type="text" name="phone_number" placeholder="Ваш телефонный номер">
                          </div>
                      </div> 
                      <div class="input-flex-item">
                        <div class="single-input mt-4">
                            <label class="label-title"> Дата заезда </label>
                            <input class="form--control date-picker" type="text" name="phone_number" placeholder="Дата заезда">
                          </div>
                      </div> 
                      <div class="input-flex-item">
                        <div class="single-input mt-4">
                            <label class="label-title"> Дата отъезда </label>
                            <input class="form--control date-picker" type="text" name="phone_number" placeholder="Дата отъезда">
                          </div>
                      </div> 
                      <div class="btn-wrapper mt-4">
                        <button type="submit" class="cmn-btn btn-bg-1 btn-small">Забронировать</button>
                     </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'include/footer.html' %}
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-up"></i>
      </span>
    </div>
    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>
    {% include 'include/footer.html' %}
{% endblock %}