{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    {% include 'include/header.html' %}
    
  
    <section class="hotel-list-area section-bg-2 pat-100 pab-100">
      <div class="container">
          <div class="container custom-container-one">
            <div class="row">
              <div class="col-lg-12">
                <div class="breadcrumb-contents">
                  <h4 class="breadcrumb-contents-title"> Комнаты </h4>
                  <ul class="breadcrumb-contents-list list-style-none">
                    <li class="breadcrumb-contents-list-item">
                      <a href="{% url 'index' %}" class="breadcrumb-contents-list-item-link"> Домой </a>
                    </li>
                    <li class="breadcrumb-contents-list-item"> Комнаты </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <div class="shop-contents-wrapper mt-5">
          <div class="shop-icon">
            <div class="shop-icon-sidebar">
              <i class="las la-bars"></i>
            </div>
          </div>
          <div class="shop-sidebar-content">
            <div class="shop-close-content">
              <div class="shop-close-content-icon">
                <i class="las la-times"></i>
              </div>
              {% if promotions %}
              {% for promotion in promotions %}
              <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                <div class="details-sidebar">
                  <div class="details-sidebar-offe radius-10">
                    <div class="details-sidebar-offer-thumb">
                      <a href="{{ promotion.url }}"><img src="{{ promotion.image.url }}" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="shop-grid-contents">
            <div class="grid-list-contents">
              <div class="grid-list-contents-flex">
                <p class="grid-list-contents-para"> Найдено {{ rooms.all.count }} комнат </p>
                <div class="grid-list-view">
                  <ul class="grid-list-view-flex d-flex tabs list-style-none">
                    <li class="grid-list-view-icons active" data-tab="tab-grid">
                      <a href="javascript:void(0)" class="icon">
                        <i class="las la-border-all"></i>
                      </a>
                    </li>
                    <li class="grid-list-view-icons" data-tab="tab-list">
                      <a href="javascript:void(0)" class="icon">
                        <i class="las la-bars"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="tab-grid" class="tab-content-item active mt-4">
              <div class="row gy-4">
                {% for room in rooms %}
                <div class="col-md-6">
                  <div class="hotel-view bg-white radius-20">
                    <a href="{% url 'room_detail' room.id %}" class="hotel-view-thumb hotel-view-grid-thumb bg-image" style="background-image: url({{ room.image.url }});"></a>
                    <div class="hotel-view-contents">
                      <div class="hotel-view-contents-header">
                        <span class="hotel-view-contents-review">
                          <i class="las la-star"></i> 4.5 <span class="hotel-view-contents-review-count"> (380) </span>
                        </span>
                        <h3 class="hotel-view-contents-title">
                          <a href="{% url 'room_detail' room.id %}"> {{ room.title }} </a>
                        </h3>
                        <div class="hotel-view-contents-location mt-2">
                          <span class="hotel-view-contents-location-icon">
                            <i class="las la-map-marker-alt"></i>
                          </span>
                          <span class="hotel-view-contents-location-para"> {{ setting.address }} </span>
                        </div>
                      </div>
                      <div class="hotel-view-contents-middle">
                        <div class="hotel-view-contents-flex">
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Car Parking">
                            <i class="las la-parking"></i>
                          </div>
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Wifi">
                            <i class="las la-wifi"></i>
                          </div>
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Free Breakfast">
                            <i class="las la-coffee"></i>
                          </div>
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Home Service">
                            <i class="las la-quidditch"></i>
                          </div>
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Swimming Pool">
                            <i class="las la-swimming-pool"></i>
                          </div>
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Reception">
                            <i class="las la-receipt"></i>
                          </div>
                          <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Gym">
                            <i class="las la-dumbbell"></i>
                          </div>
                          <div class="hotel-view-contents-icon">
                            <a class="hotel-view-contents-icon-more" href="javascript:void(0)"> +8 More </a>
                          </div>
                        </div>
                      </div>
                      <div class="hotel-view-contents-bottom">
                        <div class="hotel-view-contents-bottom-flex">
                          <div class="hotel-view-contents-bottom-contents">
                            <h4 class="hotel-view-contents-bottom-title"> {{ room.price_day }} {{ room.currency }} <sub>/День</sub>
                            </h4>
                            <p class="hotel-view-contents-bottom-para"> (4 Nights, 2 Rooms, 4 Persons) </p>
                          </div>
                          <div class="btn-wrapper">
                            <a href="{% url 'room_detail' room.id %}" class="cmn-btn btn-bg-1 btn-small"> Смотреть </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="row mt-5">
                <div class="col">
                  <div class="pagination-wrapper">
                    
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-list" class="tab-content-item mt-4">
              <div class="row gy-4">
                {% for room in rooms %}
                <div class="col-12">
                  <div class="hotel-view bg-white radius-20">
                    <div class="hotel-view-flex">
                      <a href="hotel_details.html" class="hotel-view-thumb hotel-view-list-thumb bg-image" style="background-image: url({{ room.image.url }});"></a>
                      <div class="hotel-view-contents">
                        <div class="hotel-view-contents-header">
                          <div class="hotel-view-contents-header-flex d-flex flex-wrap gap-3 align-items-center justify-content-between">
                            <span class="hotel-view-contents-review">
                              <i class="las la-star"></i> 4.5 <span class="hotel-view-contents-review-count"> (380) </span>
                            </span>
                            <div class="btn-wrapper">
                              <a href="javascript:void(0)" class="cmn-btn btn-bg-1 btn-small"> Reserve Now </a>
                            </div>
                          </div>
                          <h3 class="hotel-view-contents-title">
                            <a href="hotel_details.html"> {{ room.title }} </a>
                          </h3>
                          <div class="hotel-view-contents-location mt-2">
                            <span class="hotel-view-contents-location-icon">
                              <i class="las la-map-marker-alt"></i>
                            </span>
                            <span class="hotel-view-contents-location-para"> 4140 Parker Rd. Allentown, New Mexico 31134 </span>
                          </div>
                        </div>
                        <div class="hotel-view-contents-middle">
                          <div class="hotel-view-contents-flex">
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-parking"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Parking </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-wifi"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Wifi </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-coffee"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Breakfast </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-quidditch"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Room Service </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-swimming-pool"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Pool </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-receipt"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Reception </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <span>
                                <i class="las la-dumbbell"></i>
                              </span>
                              <p class="hotel-view-contents-icon-title flex-fill"> Gym </p>
                            </div>
                            <div class="hotel-view-contents-icon d-flex gap-1">
                              <a class="hotel-view-contents-icon-more" href="javascript:void(0)"> +8 More </a>
                            </div>
                          </div>
                        </div>
                        <div class="hotel-view-contents-bottom">
                          <div class="hotel-view-contents-bottom-flex">
                            <div class="hotel-view-contents-bottom-contents d-flex flex-wrap gap-4 gap-sm-1">
                              <h4 class="hotel-view-contents-bottom-title"> $230 <sub>/Night</sub>
                              </h4>
                              <p class="hotel-view-contents-bottom-para"> (4 Nights, 2 Rooms, 4 Persons) </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'include/footer.html' %}
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-up"></i>
      </span>
    </div>
    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>
{% endblock %}