{% extends 'homepage.html' %}
{% load static i18n %}
{% block content %}
    {% include 'include/header.html' %}
    <div class="breadcrumb-area breadcrumb-padding">
      <div class="container custom-container-one">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-contents">
              <h4 class="breadcrumb-contents-title"> {{ room.title }} </h4>
              <ul class="breadcrumb-contents-list list-style-none">
                <li class="breadcrumb-contents-list-item">
                  <a href="{% url 'index' %}" class="breadcrumb-contents-list-item-link"> {% trans 'Домой' %} </a>
                </li>
                <li class="breadcrumb-contents-list-item">
                  <a href="listing.html" class="breadcrumb-contents-list-item-link"> {% trans 'Комнаты' %} </a>
                </li>
                <li class="breadcrumb-contents-list-item"> {{ room.title }} </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="hotel-details-area section-bg-2 pat-100 pab-100">
      <div class="container">
        <div class="row g-4">
          <div class="col-xl-8 col-lg-7">
            <div class="details-left-wrapper">
              <div class="details-contents bg-white radius-10">
                <div class="details-contents-header">
                  <!-- <div class="details-contents-thumb details-contents-main-thumb bg-image" style="background-image: url({{ room.image.url }});"></div> -->
                  <div class="details-contents-header-flex">
                    <div class="details-contents-header-thumb">
                      <img src="{{ room.image.url }}" alt="img">
                    </div>
                    <!-- <div class="details-contents-header-thumb">
                      <img src="{% static 'assets/img/single-page/details_2.jpg' %}" alt="img">
                      <a href="javascript:void(0)" class="more-photos">
                        <i class="las la-plus"></i> More Photos </a>
                    </div> -->
                  </div>
                </div>
                <div class="hotel-view-contents">
                  <div class="hotel-view-contents-header">
                    <span class="hotel-view-contents-review">
                      <i class="las la-star"></i> 10 <span class="hotel-view-contents-review-count"> ({{ reviews.all.count }}) </span>
                    </span>
                    <h3 class="hotel-view-contents-title"> {{ room.title }} </h3>
                    <div class="hotel-view-contents-location mt-2">
                      <span class="hotel-view-contents-location-icon">
                        <i class="las la-map-marker-alt"></i>
                      </span>
                      <span class="hotel-view-contents-location-para"> {{ setting.address }} </span>
                    </div>
                  </div>
                  <div class="hotel-view-contents-middle">
                    <div class="hotel-view-contents-flex">
                      <div class="hotel-view-contents-icon d-flex gap-1">
                        <span>
                          <i class="las la-parking"></i>
                        </span>
                        <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Паркинг' %} </p>
                      </div>
                      <div class="hotel-view-contents-icon d-flex gap-1">
                        <span>
                          <i class="las la-wifi"></i>
                        </span>
                        <p class="hotel-view-contents-icon-title flex-fill"> Wifi </p>
                      </div>
                      
                       <div class="hotel-view-contents-icon d-flex gap-1">
                          <span>
                            <i class="las la-coffee"></i>
                          </span>
                          <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Кухня' %} </p>
                        </div>

                      <div class="hotel-view-contents-icon d-flex gap-1">
                        <span>
                          <i class="las la-quidditch"></i>
                        </span>
                        <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Уборка' %} </p>
                      </div>
                      
                      <div class="hotel-view-contents-icon d-flex gap-1">
                        <span>
                          <i class="las la-receipt"></i>
                        </span>
                        <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Ресепшн' %} </p>
                      </div>
                      
                    </div>
                  </div>
                  <div class="hotel-view-contents-bottom">
                    <div class="hotel-view-contents-bottom-flex">
                      <div class="hotel-view-contents-bottom-contents">
                        <h4 class="hotel-view-contents-bottom-title"> {{ room.price_day }} {{ room.currency }} <sub>/ {% trans 'День' %}</sub>
                        </h4>
                        <p class="hotel-view-contents-bottom-para"> {% trans 'Цена указана на 1 человека' %} </p>
                      </div>
                      <div class="btn-wrapper">
                        <a href="{% url 'reservation_room' room.id %}" class="cmn-btn btn-bg-1 btn-small"> {% trans 'Забронировать' %} </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="details-contents-tab">
                  <ul class="tabs details-tab details-tab-border">
                    <li class="active" data-tab="about"> {% trans 'Описание' %} </li>
                    <li data-tab="reviews"> {% trans 'Отзывы' %} </li>
                  </ul>
                  <div id="about" class="tab-content-item active">
                    <div class="about-tab-contents">
                      <p class="about-tab-contents-para">{{ room.description }} </p>
                    </div>
                  </div>
                  <div id="reviews" class="tab-content-item">
                    <div class="review-tab-contents">
                        {% for review in reviews %}
                      <div class="review-tab-contents-single">
                        <p class="about-review-para mt-3"> {{ review.text }} </p>
                        <div class="review-tab-contents-author mt-4">
                          <p class="review-tab-contents-author-para mt-2"> {{ review.name }} </p>
                        </div>
                      </div>
                      {% endfor %}
                    
                        <!-- <div class="contact-wrapper contact-padding bg-white radius-20"> -->
                          <div class="contact-contents mt-4">
                            <h4 class="contact-contents-title"> {% trans 'Оставить отзыв' %} </h4>
                            <p class="contact-contents-para mt-2"> {% trans 'Наша дружная команда будет рада услышать вас.' %} </p>
                            <div class="contact-contents-form custom-form">
                              <form method="POST">
                                {% csrf_token %}
                                <div class="single-flex-input mt-4">
                                  <div class="single-input mt-4">
                                    <input type="text" name = "name" class="form--control radius-5" placeholder="Имя">
                                  </div>
                                </div>
                                <div class="single-input mt-4">
                                  <input type="text" name = "text" class="form--control radius-5" placeholder="Сообщение">
                                </div>
                                <button type="submit" name = "review" class="submit-btn radius-5"> Отправить </button>
                              </form>
                            </div>
                          </div>
                        
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="hotel-view bg-white radius-20 mt-4">
                {% for one in one_random_room %}
                <div class="hotel-view-flex">
                  <a href="{% url 'room_detail' one.id %}" class="hotel-view-thumb hotel-view-list-thumb bg-image" style="background-image: url({{ one.image.url }});"></a>
                  <div class="hotel-view-contents">
                    <div class="hotel-view-contents-header">
                      <div class="hotel-view-contents-header-flex d-flex flex-wrap gap-3 align-items-center justify-content-between">
                        <span class="hotel-view-contents-review">
                          <i class="las la-star"></i> 10 <span class="hotel-view-contents-review-count"> ({{ reviews.all.count }}) </span>
                        </span>
                        <div class="btn-wrapper">
                          <a href="{% url 'room_detail' one.id %}" class="cmn-btn btn-bg-1 btn-small"> {% trans 'Посмотреть' %} </a>
                        </div>
                      </div>
                      <h3 class="hotel-view-contents-title">
                        <a href="{% url 'room_detail' one.id %}"> {{ one.title }} </a>
                      </h3>
                      <div class="hotel-view-contents-location mt-2">
                        <span class="hotel-view-contents-location-icon">
                          <i class="las la-map-marker-alt"></i>
                        </span>
                        <span class="hotel-view-contents-location-para"> {{ setting.address }} </span>
                      </div>
                    </div>
                    <div class="hotel-view-contents-middle">
                      <div class="hotel-view-contents-flex">
                        <div class="hotel-view-contents-icon d-flex gap-1">
                          <span>
                            <i class="las la-parking"></i>
                          </span>
                          <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Паркинг' %} </p>
                        </div>
                        <div class="hotel-view-contents-icon d-flex gap-1">
                          <span>
                            <i class="las la-wifi"></i>
                          </span>
                          <p class="hotel-view-contents-icon-title flex-fill"> Wifi </p>
                        </div>
                        <div class="hotel-view-contents-icon d-flex gap-1">
                          <span>
                            <i class="las la-coffee"></i>
                          </span>
                          <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Кухня' %} </p>
                        </div>
                        <div class="hotel-view-contents-icon d-flex gap-1">
                          <span>
                            <i class="las la-quidditch"></i>
                          </span>
                          <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Уборка' %} </p>
                        </div>
                        
                        <div class="hotel-view-contents-icon d-flex gap-1">
                          <span>
                            <i class="las la-receipt"></i>
                          </span>
                          <p class="hotel-view-contents-icon-title flex-fill"> {% trans 'Ресепшн' %} </p>
                        </div>
                        
                      </div>
                    </div>
                    <div class="hotel-view-contents-bottom">
                      <div class="hotel-view-contents-bottom-flex">
                        <div class="hotel-view-contents-bottom-contents d-flex flex-wrap gap-4">
                          <h4 class="hotel-view-contents-bottom-title"> {{ one.price_day }} {{ one.currency }} <sub>/ {% trans 'День' %}</sub>
                          </h4>
                          <p class="hotel-view-contents-bottom-para"> {% trans 'Цена указана на 1 человека' %} </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="sticky-top">
              <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                <div class="details-sidebar">
                  <div class="details-sidebar-dropdown custom-form">
                    <form method="POST">
                      {% csrf_token %}
                      <div class="single-input">
                        <label class="details-sidebar-dropdown-title"> {% trans 'Имя' %}</label>
                        <input class="form--control" type="text" name="first_name" placeholder="{% trans 'Ваше имя' %}">
                      </div>
                      <div class="single-input mt-3">
                        <label class="details-sidebar-dropdown-title"> {% trans 'Фамилия' %} </label>
                        <input class="form--control" type="text" name="last_name" placeholder="{% trans 'Ваше имя' %}">
                      </div>
                      <div class="single-input mt-3">
                        <label class="details-sidebar-dropdown-title"> {% trans 'Номер телефонна' %} </label>
                        <input class="form--control" type="text" name="phone_number" placeholder="{% trans 'Ваше имя' %}">
                      </div>
                      <div class="single-input mt-3">
                        <label class="details-sidebar-dropdown-title"> {% trans 'Дата заезда' %} </label>
                        <input class="form--control date-picker" name = "arrival_date" type="text" placeholder="{% trans 'Дата' %}">
                      </div>
                      <div class="single-input mt-3">
                        <label class="details-sidebar-dropdown-title"> {% trans 'Дата отъезда' %} </label>
                        <input class="form--control date-picker" name = "departure_date" type="text" placeholder="{% trans 'Дата' %}">
                      </div>
                      <div class="btn-wrapper mt-4">
                        <button type="submit" name = "reservation" class="cmn-btn btn-bg-1 btn-small"> {% trans 'Забронировать' %} </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="hotel-details-widget widget bg-white radius-10">
                {% for two in two_random_room %}
                <div class="hotel-view">
                  <div class="hotel-view-thumb hotel-view-list-thumb bg-image" style="background-image: url({{ two.image.url }});"></div>
                  <div class="hotel-view-contents">
                    <div class="hotel-view-contents-header">
                      <span class="hotel-view-contents-review">
                        <i class="las la-star"></i> 10 <span class="hotel-view-contents-review-count"> ({{ reviews.all.count }}) </span>
                      </span>
                      <h3 class="hotel-view-contents-title"> {{ two.title }} </h3>
                      <div class="hotel-view-contents-location mt-2">
                        <span class="hotel-view-contents-location-icon">
                          <i class="las la-map-marker-alt"></i>
                        </span>
                        <span class="hotel-view-contents-location-para"> {{ setting.address }} </span>
                      </div>
                    </div>
                    <div class="hotel-view-contents-middle">
                      <div class="hotel-view-contents-flex">
                        <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Паркинг">
                          <i class="las la-parking"></i>
                        </div>
                        <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Wifi">
                          <i class="las la-wifi"></i>
                        </div>
                        <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Кухня">
                          <i class="las la-coffee"></i>
                        </div>
                        <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Уборка">
                          <i class="las la-quidditch"></i>
                        </div>
                        <div class="hotel-view-contents-icon myTooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Ресепшн">
                          <i class="las la-receipt"></i>
                        </div>
                      </div>
                    </div>
                    <div class="hotel-view-contents-bottom">
                      <div class="hotel-view-contents-bottom-flex">
                        <div class="hotel-view-contents-bottom-contents">
                          <h4 class="hotel-view-contents-bottom-title"> {{ two.price_day }} {{ two.currency }} <sub>/ {% trans 'День' %}</sub>
                          </h4>
                          <p class="hotel-view-contents-bottom-para"> {% trans 'Цена указана на 1 человека' %} </p>
                        </div>
                        <div class="btn-wrapper">
                          <a href="{% url 'room_detail' two.id %}" class="cmn-btn btn-bg-1 btn-small"> {% trans 'Посмотреть' %} </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% if promotions %}
              {% for promotion in promotions %}
              <div class="hotel-details-widget hotel-details-widget-padding widget bg-white radius-10">
                <div class="details-sidebar">
                  <div class="details-sidebar-offe radius-10">
                    <div class="details-sidebar-offer-thumb">
                      <a href="{{ promotion.url }}"><img src="{{ promotion.image.url }}" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'include/footer.html' %}
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-up"></i>
      </span>
    </div>
    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>
{% endblock %}