{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    {% include 'include/header.html' %}
    <div class="breadcrumb-area breadcrumb-padding">
      <div class="container custom-container-one">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-contents">
              <h4 class="breadcrumb-contents-title"> О нас </h4>
              <ul class="breadcrumb-contents-list list-style-none">
                <li class="breadcrumb-contents-list-item">
                  <a href="{% url 'index'%}" class="breadcrumb-contents-list-item-link"> Домой </a>
                </li>
                <li class="breadcrumb-contents-list-item"> О {{ setting.title }} </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="about-area pat-100 pab-50">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> О {{ setting.title }} </h2>
          <div class="section-title-line"></div>
          <p class="section-para"> {{ setting.description }} </p>
        </div>
      </div>
    </section>
    
    <section class="team-area pat-50 pab-50">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> Наша команда </h2>
          <div class="section-title-line"></div>
        </div>
        <div class="row g-5 mt-2">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team center-text">
              <div class="single-team-thumb">
                <a href="javascript:void(0)">
                  <img src="{% static 'assets/img/single-page/team1.jpg' %}" alt="img">
                </a>
              </div>
              <div class="single-team-contents">
                <h4 class="single-team-contents-title"> Riyad Hossain </h4>
                <p class="single-team-contents-subtitle"> Founder & Ceo </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team center-text">
              <div class="single-team-thumb">
                <a href="javascript:void(0)">
                  <img src="{% static 'assets/img/single-page/team2.jpg' %}" alt="img">
                </a>
              </div>
              <div class="single-team-contents">
                <h4 class="single-team-contents-title"> Wade M Warren </h4>
                <p class="single-team-contents-subtitle"> Web Designer </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team center-text">
              <div class="single-team-thumb">
                <a href="javascript:void(0)">
                  <img src="{% static 'assets/img/single-page/team3.jpg' %}" alt="img">
                </a>
              </div>
              <div class="single-team-contents">
                <h4 class="single-team-contents-title"> Rajia Akter </h4>
                <p class="single-team-contents-subtitle"> Ui/Ux Designer </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-team center-text">
              <div class="single-team-thumb">
                <a href="javascript:void(0)">
                  <img src="{% static 'assets/img/single-page/team4.jpg' %}" alt="img">
                </a>
              </div>
              <div class="single-team-contents">
                <h4 class="single-team-contents-title"> Arafat Hossain </h4>
                <p class="single-team-contents-subtitle"> Web Developer </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="partner-area pat-50 pab-100">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> Наши партнеры </h2>
          <div class="section-title-line"></div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="global-slick-init attraction-slider slider-inner-margin" data-slidesToShow="6" data-infinite="true" data-arrows="false" data-dots="false" data-swipeToSlide="true" data-autoplay="true" data-autoplaySpeed="2500" data-prevArrow='
																														<div class="prev-icon">
																															<i class="las la-angle-left"></i>
																														</div>' data-nextArrow='
																														<div class="next-icon">
																															<i class="las la-angle-right"></i>
																														</div>' data-responsive='[{"breakpoint": 1400,"settings": {"slidesToShow": 5}},{"breakpoint": 1200,"settings": {"slidesToShow": 4}},{"breakpoint": 992,"settings": {"slidesToShow": 3}},{"breakpoint": 576, "settings": {"slidesToShow": 2} }]'>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo1.png' %}" alt="brandLogo">
                </a>
              </div>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo2.png' %}" alt="brandLogo">
                </a>
              </div>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo3.png' %}" alt="brandLogo">
                </a>
              </div>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo4.png' %}" alt="brandLogo">
                </a>
              </div>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo5.png' %}" alt="brandLogo">
                </a>
              </div>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo6.png' %}" alt="brandLogo">
                </a>
              </div>
              <div class="single-brand">
                <a href="javascript:void(0)" class="single-brand-thumb">
                  <img src="{% static 'assets/img/single-page/logo3.png' %}" alt="brandLogo">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'include/footer.html' %}
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-up"></i>
      </span>
    </div>
    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>
{% endblock %}