{% extends 'homepage.html' %}
{% load static i18n %}
{% block content %}
    {% include 'include/header.html' %}
    <div class="error-area pat-100 pab-100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="error-wrapper center-text">
              <div class="error-wrapper-thumb">
                <img src="{% static 'assets/img/single-page/404.png' %}" alt="img">
              </div>
              <div class="error-contents mat-60">
                <h2 class="error-contents-title"> {% trans 'Упс, произошла ошибка' %} </h2>
                <p>{% trans 'Вы видете данную страницу потому что не добавили настройки для проекта' %}</p>
                <p>{% trans 'Для исправления данной ошибки зайдите в административную панель и добавьте настройки сайта' %}</p>
                <div class="btn-wrapper mat-25">
                  <a href="{% url 'index' %}" class="cmn-btn btn-bg-1"> {% trans 'Обновить' %} </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'include/footer.html' %}
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-up"></i>
      </span>
    </div>
    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>
{% endblock %}