{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    {% include 'include/header.html' %}
    <div class="banner-area banner-area-one">
      <div class="container-fluid p-0">
        <div class="row align-items-center flex-column-reverse flex-lg-row">
          <div class="col-lg-6">
            <div class="banner-single banner-single-one percent-padding">
              <div class="banner-single-content">
                <h2 class="banner-single-content-title fw-700"> Добро пожаловать в {{ setting.title }} </h2>
                <p class="banner-single-content-para mt-3"> {{ setting.description }} </p>
                <div class="banner-location banner-location-one bg-white radius-5 mt-5">
                  <div class="banner-location-flex">
                    <!-- <div class="banner-location-single">
                      <div class="banner-location-single-flex">
                        <div class="banner-location-single-icon">
                          <i class="las la-map-marker-alt"></i>
                        </div>
                        <div class="banner-location-single-contents">
                          <span class="banner-location-single-contents-subtitle"> Location </span>
                          <div class="banner-location-single-contents-dropdown">
                            <select class="js-select select-style-two" name="state">
                              <option value="1">Allentown, New Mexico</option>
                              <option value="2">Allentown, New NewYork</option>
                              <option value="3">Allentown, New Barcelona</option>
                              <option value="4">Allentown, Paris</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div class="banner-location-single">
                      <div class="banner-location-single-flex">
                        <div class="banner-location-single-icon">
                          <i class="las la-calendar"></i>
                        </div>
                        <div class="banner-location-single-contents">
                          <span class="banner-location-single-contents-subtitle"> Дата заезда </span>
                          <div class="banner-location-single-contents-dropdown custom-select">
                            <select class="js-select select-style-two" name="state">
                              <option value="1">20 Jun 2022</option>
                              <option value="2">21 Jun 2022</option>
                              <option value="3">22 Jun 2022</option>
                              <option value="4">23 Jun 2022</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="banner-location-single">
                      <div class="banner-location-single-flex">
                        <div class="banner-location-single-icon">
                          <i class="las la-calendar"></i>
                        </div>
                        <div class="banner-location-single-contents">
                          <span class="banner-location-single-contents-subtitle"> Дата отъезда </span>
                          <div class="banner-location-single-contents-dropdown custom-select">
                            <select class="js-select select-style-two" name="state">
                              <option value="1">20 Jul 2022</option>
                              <option value="2">21 Jul 2022</option>
                              <option value="3">22 Jul 2022</option>
                              <option value="4">23 Jul 2022</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="banner-location-single">
                      <div class="banner-location-single-flex">
                        <div class="banner-location-single-icon">
                          <i class="las la-user-friends"></i>
                        </div>
                        <div class="banner-location-single-contents">
                          <span class="banner-location-single-contents-subtitle"> Взрослых </span>
                          <div class="banner-location-single-contents-dropdown custom-select">
                            <select class="js-select select-style-two" name="state">
                              <option value="1">2 People</option>
                              <option value="2">3 People</option>
                              <option value="3">4 People</option>
                              <option value="4">5 People</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="banner-location-single">
                      <div class="banner-location-single-flex">
                        <div class="banner-location-single-icon">
                          <i class="las la-user-friends"></i>
                        </div>
                        <div class="banner-location-single-contents">
                          <span class="banner-location-single-contents-subtitle"> Детей </span>
                          <div class="banner-location-single-contents-dropdown custom-select">
                            <select class="js-select select-style-two" name="state">
                              <option value="1">2 Children</option>
                              <option value="2">3 Children</option>
                              <option value="3">4 Children</option>
                              <option value="4">5 Children</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="banner-location-single-search">
                      <div class="search-suggestions-wrapper">
                        <div class="search-click-icon">
                          <i class="las la-search"></i>
                        </div>
                        <div class="search-show">
                          <div class="search-show-inner">
                            <form action="#">
                              <div class="search-show-form">
                                <input autocomplete="off" class="form--control" id="search_form_input" type="text" placeholder="Search here....">
                                <button type="submit">
                                  <i class="las la-search"></i>
                                </button>
                                <span class="suggestions-icon-close">
                                  <i class="las la-times"></i>
                                </span>
                              </div>
                              <div class="search-product" id="search_suggestions_wrap">
                                <div class="search-product-inner">
                                  <h6 class="search-product-title">Product Suggestions</h6>
                                  <ul class="search-product-list mt-4">
                                    <li class="search-product-list-item">
                                      <a href="javascript:void(0)" class="search-product-list-link">
                                        <div class="search-product-list-image">
                                          <img src="{% static 'assets/img/search_suggestion/s1.jpg' %}" alt="img">
                                        </div>
                                        <div class="search-product-list-info">
                                          <div class="search-product-list-info-top">
                                            <h6 class="earch-product-list-info-title"> Apple Original Air pod Collection for most popular and best price item in market </h6>
                                          </div>
                                          <div class="search-product-list-info-price mt-2">
                                            <div class="search-product-list-info-price-through">
                                              <span class="flash-price"> $330.00 </span>
                                              <span class="old-price"> $300.00 </span>
                                            </div>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                    <li class="search-product-list-item">
                                      <a href="javascript:void(0)" class="search-product-list-link">
                                        <div class="search-product-list-image">
                                          <img src="{% static 'assets/img/search_suggestion/s2.jpg' %}" alt="img">
                                        </div>
                                        <div class="search-product-list-info">
                                          <div class="search-product-list-info-top">
                                            <h6 class="earch-product-list-info-title"> Apple Original Airpod Collection </h6>
                                          </div>
                                          <div class="search-product-list-info-price mt-2">
                                            <span class="main-price fw-500 color-light">$269.00</span>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                    <li class="search-product-list-item">
                                      <a href="javascript:void(0)" class="search-product-list-link">
                                        <div class="search-product-list-image">
                                          <img src="{% static 'assets/img/search_suggestion/s3.jpg' %}" alt="img">
                                        </div>
                                        <div class="search-product-list-info">
                                          <div class="search-product-list-info-top">
                                            <h6 class="earch-product-list-info-title"> Apple Original Airpod Collection </h6>
                                          </div>
                                          <div class="search-product-list-info-price mt-2">
                                            <span class="main-price fw-500 color-light">$499.00</span>
                                            <span class="stock-out"> Stock Out </span>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                    <li class="search-product-list-item">
                                      <a href="javascript:void(0)" class="search-product-list-link">
                                        <div class="search-product-list-image">
                                          <img src="{% static 'assets/img/search_suggestion/s4.jpg' %}" alt="img">
                                        </div>
                                        <div class="search-product-list-info">
                                          <div class="search-product-list-info-top">
                                            <h6 class="earch-product-list-info-title"> Apple Original Airpod Collection </h6>
                                          </div>
                                          <div class="search-product-list-info-price mt-2">
                                            <span class="main-price fw-500 color-light">$499.00</span>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                    <li class="search-product-list-item">
                                      <a href="javascript:void(0)" class="search-product-list-link">
                                        <div class="search-product-list-image">
                                          <img src="{% static 'assets/img/search_suggestion/s5.jpg' %}" alt="img">
                                        </div>
                                        <div class="search-product-list-info">
                                          <div class="search-product-list-info-top">
                                            <h6 class="earch-product-list-info-title"> Apple Original Airpod Collection </h6>
                                          </div>
                                          <div class="search-product-list-info-price mt-2">
                                            <span class="main-price fw-500 color-light">$499.00</span>
                                          </div>
                                        </div>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="search-suggestion-overlay"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 bg-image banner-right-bg radius-20" style="background-image: url({% static 'assets/img/banner/banner.jpg' %});"></div>
        </div>
      </div>
    </div>
    <section class="booking-area pat-100 pab-50">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> Почему мы? </h2>
          <div class="section-title-shapes"></div>
        </div>
        <div class="row gy-4 mt-5">
          <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInRight" data-wow-delay=".2s">
            <div class="single-why center-text bg-white single-why-border radius-10">
              <div class="single-why-icon">
                <img src="{% static 'assets/img/icons/b1.svg' %}" alt="icon">
              </div>
              <div class="single-why-contents mt-3">
                <h4 class="single-why-contents-title">
                  <a href="javascript:void(0)"> Комфортабельные кровати </a>
                </h4>
                <p class="single-why-contents-para mt-3"> Book your hotel from our website without any hassle. </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 wow zoomIn" data-wow-delay=".4s">
            <div class="single-why center-text bg-white single-why-border radius-10">
              <div class="single-why-icon">
                <img src="{% static 'assets/img/icons/b2.svg' %}" alt="icon">
              </div>
              <div class="single-why-contents mt-3">
                <h4 class="single-why-contents-title">
                  <a href="javascript:void(0)"> 28 Отзывов </a>
                </h4>
                <p class="single-why-contents-para mt-3"> Book your hotel from our website without any hassle. </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".2s">
            <div class="single-why center-text bg-white single-why-border radius-10">
              <div class="single-why-icon">
                <img src="{% static 'assets/img/icons/b3.svg' %}" alt="icon">
              </div>
              <div class="single-why-contents mt-3">
                <h4 class="single-why-contents-title">
                  <a href="javascript:void(0)"> Бесплатный WIFI и Parking </a>
                </h4>
                <p class="single-why-contents-para mt-3"> Book your hotel from our website without any hassle. </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay=".2s">
            <div class="single-why center-text bg-white single-why-border radius-10">
              <div class="single-why-icon">
                <img src="{% static 'assets/img/icons/b4.svg' %}" alt="icon">
              </div>
              <div class="single-why-contents mt-3">
                <h4 class="single-why-contents-title">
                  <a href="javascript:void(0)"> 24/7 Поддержка </a>
                </h4>
                <p class="single-why-contents-para mt-3"> Book your hotel from our website without any hassle. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="attraction-area pat-50 pab-50">
      <div class="container">
        <div class="section-title text-left append-flex">
          <h2 class="banner-single-content-title fw-700"> Наши номера </h2>
          <div class="append-attraction"></div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <div class="global-slick-init attraction-slider nav-style-one slider-inner-margin" data-appendArrows=".append-attraction" data-infinite="true" data-arrows="true" data-dots="false" data-slidesToShow="4" data-swipeToSlide="true" data-autoplay="true" data-autoplaySpeed="2500" data-prevArrow='
																															<div class="prev-icon">
																																<i class="las la-angle-left"></i>
																															</div>' data-nextArrow='
																															<div class="next-icon">
																																<i class="las la-angle-right"></i>
																															</div>' data-responsive='[{"breakpoint": 1400,"settings": {"slidesToShow": 4}},{"breakpoint": 1200,"settings": {"slidesToShow": 3}},{"breakpoint": 992,"settings": {"slidesToShow": 2}},{"breakpoint": 480, "settings": {"slidesToShow": 1} }]'>
              {% for room in rooms %}
              <div class="attraction-item">
                <div class="single-attraction radius-20">
                  <div class="single-attraction-thumb">
                    <a href="{% url 'room_detail' room.id %}">
                      <img src="{{ room.image.url }}" alt="img">
                    </a>
                  </div>
                  <div class="single-attraction-contents">
                    <h4 class="single-attraction-contents-title">
                      <a href="{% url 'room_detail' room.id %}"> {{ room.title }} </a>
                    </h4>
                    <p class="single-attraction-contents-para"> Цена от: {{ room.price_day }} {{ room.currency }} </p>
                  </div>
                </div>
              </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="shots-area pat-50 pab-50">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> Наша галерея </h2>
          <div class="section-title-shapes"></div>
        </div>
        <div class="imgLoaded mt-5">
          <div class="row g-4 masonry-grid">
            {% for gallery in galleries %}
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item">
              <div class="single-shots bg-image" style="background-image: url({{ gallery.image.url }});">
                <a href="{{ gallery.image.url }}" class="single-shots-icon gallery-popup-two">
                  <i class="las la-image"></i>
                </a>
                <div class="single-shots-contents">
                  <!-- <h4 class="single-shots-contents-title">
                    <a href="hotel_details.html"> Disneyland </a>
                  </h4> -->
                  <!-- <p class="single-shots-contents-para"> We have over 28K reviews to assure you top notch service. We have over 28K reviews to assure you top notch service.We have over 28K reviews to assure you top notch service. We have over 28K reviews to assure you top notch service. </p> -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <section class="question-area pat-50 pab-50">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> Часто задаваемые вопросы </h2>
          <div class="section-title-shapes"></div>
        </div>
        <div class="row g-4 mt-4">
          <div class="col-xl-8 col-lg-7">
            <div class="faq-wrapper">
              <div class="faq-contents">
                {% for faq in faqs %}
                <div class="faq-item wow fadeInLeft" data-wow-delay=".1s">
                  <h3 class="faq-title"> {{ faq.question }} </h3>
                  <div class="faq-panel">
                    <p class="faq-para"> {{ faq.answer }} </p>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="faq-question faq-question-border radius-10 sticky-top">
              <h3 class="faq-question-title"> У вас есть вопросы? </h3>
              <div class="faq-question-form custom-form mat-20">
                <form method="post">
                  {% csrf_token %}
                  <div class="single-input">
                    <label class="label-title"> Имя </label>
                    <input type="text" name = "name" class="form--control radius-10" placeholder="Ваше имя">
                  </div>
                  <div class="single-input">
                    <label class="label-title"> Номер </label>
                    <input type="text" name = "phone_number" class="form--control radius-10" placeholder="Ваш номер">
                  </div>
                  <div class="single-input">
                    <label class="label-title"> Почта </label>
                    <input type="text" name = "email" class="form--control radius-10" placeholder="Ваша почта">
                  </div>
                  <div class="single-input">
                    <label class="label-title"> Вопрос </label>
                    <textarea name="message" name = "message" class="form--control form-message radius-10" placeholder="Ваше сообщение..."></textarea>
                  </div>
                  <button class="submit-btn w-100 radius-10" type="submit"> Отправить </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="blog-area pat-50 pab-50">
      <div class="container">
        <div class="section-title center-text">
          <h2 class="title"> Последние новости </h2>
          <div class="section-title-shapes"></div>
        </div>
        <div class="row gy-4 mt-4">
          {% for new in news %}
          <div class="col-xxl-4 col-lg-4 col-md-6">
            <div class="single-blog">
              <div class="single-blog-thumbs">
                <a href="{% url 'index' %}">
                  <img class="lazyloads" src="{{ new.image.url }}" alt="">
                </a>
                
              </div>
              <div class="single-blog-contents mt-3">
                <div class="single-blog-contents-tags mt-3">
                  <span class="single-blog-contents-tags-item">
                    <a href="javascript:void(0)">
                      <i class="las la-tag"></i> {{ setting.title }} </a>
                  </span>
                  <span class="single-blog-contents-tags-item">
                    <a href="javascript:void(0)"> {{ new.created }} </a>
                  </span>
                </div>
                <h4 class="single-blog-contents-title mt-3">
                  <a href="blog_details.html"> {{ new.title }} </a>
                  <p>{{ new.description|truncatewords:5 }}</p>
                </h4>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    <div class="newsletter-area pat-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="newsletter-wrapper newsletter-bg radius-20 newsletter-wrapper-padding wow zoomIn" data-wow-delay=".3s">
              <div class="newsletter-wrapper-shapes">
                <img src="{% static 'assets/img/single-page/newsletter-shape1.png' %}" alt="shapes">
                <img src="{% static 'assets/img/single-page/newsletter-shape2.png' %}" alt="shapes">
              </div>
              <div class="newsletter-contents center-text">
                <h3 class="newsletter-contents-title"> Подпишитесь на наши социальные сети </h3>
                <p class="newsletter-contents-para mt-3"> Подпишитесь на наши социальные сети, чтобы получать актуальную информацию </p>
                <div class="footer-widget widget">
                  <div class="footer-widget-social mt-4">
                    <ul class="footer-widget-social-list list-style-none justify-content-center">
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="javascript:void(0)">
                          <i class="lab la-facebook-f"></i>
                        </a>
                      </li>
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="javascript:void(0)">
                          <i class="lab la-twitter"></i>
                        </a>
                      </li>
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="javascript:void(0)">
                          <i class="lab la-instagram"></i>
                        </a>
                      </li>
                      <li class="footer-widget-social-list-item">
                        <a class="footer-widget-social-list-link" href="javascript:void(0)">
                          <i class="lab la-youtube"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'include/footer.html' %}
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-up"></i>
      </span>
    </div>
    <div class="mouse-move mouse-outer"></div>
    <div class="mouse-move mouse-inner"></div>
{% endblock %}